In [48]:
import pandas
import numpy as np

df = pandas.read_csv("../data/data_food_final.csv")
query = 'coca cherry'
isinside =  (df['product_name'].str.contains('coca', case=False) & df['product_name'].str.contains('cherry', case=False))
isinside

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
168438    False
168439    False
168440    False
168441    False
168442    False
168443    False
168444    False
168445    False
168446    False
168447    False
168448    False
168449    False
168450    False
168451    False
168452    False
168453    False
168454    False
168455    False
168456    False
168457    False
168458    False
168459    False
168460    False
168461    False
168462    False
168463    False
168464    False
168465    False
168466    False
168467    False
Name: product_name, Length: 168468, dtype: bool

In [52]:
isinside = df['product_name'].str.contains('', case=False)

all(isinside)

True

In [53]:

for item in query.split():
    isinside = isinside & df['product_name'].str.contains(item, case=False)
df[isinside]

,code,product_name,categories_tags,energy_100g,fat_100g,saturated-fat_100g,sugars_100g,salt_100g,sodium_100g,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,fiber_100g,proteins_100g
38,0000054492790,Blle Pet 50CL Coca Cola Cherry,"en:beverages,en:sugared-beverages",180.0,0.10,0.0001,10.70,0.0000,0.000000,NaN,12.0,0.0,0.0
137765,5449000000491,Coca-cola cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
137769,5449000000897,Coca-Cola Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
137786,5449000009500,Coca-Cola cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
137787,5449000009920,Coca Cola Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",192.0,0.00,0.0000,11.30,0.0000,0.000000,NaN,0.0,0.0,0.0
137814,5449000024312,Coca-Cola cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
137915,5449000109255,Coca Cola Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
138011,5449000185945,Coca Cola Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.80,0.0000,0.000000,NaN,0.0,0.0,0.0
138023,5449000195340,Coca cola zero cherry,"en:beverages,en:artificially-sweetened-beverages",1.4,0.00,0.0000,0.00,0.0254,0.010000,NaN,10.0,0.0,0.0
138024,5449000195364,Coca-Cola Zero Cherry,"en:beverages,en:artificially-sweetened-beverag...",1.4,0.00,0.0000,0.00,0.0254,0.010000,NaN,5.0,0.0,0.0
138025,5449000195371,Coca-Cola Zero Cherry,"en:beverages,en:artificially-sweetened-beverag...",1.4,0.00,0.0000,0.00,0.0200,0.007874,NaN,5.0,0.0,0.0
138029,5449000197092,Coca Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
138067,5449000214843,Coca-Cola Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
138087,5449000223586,Coca-cola zéro cherry,"en:beverages,en:artificially-sweetened-beverag...",0.0,0.00,0.0000,0.01,0.0254,0.010000,NaN,5.0,0.0,0.0
138091,5449000223982,Coca cola mini cherry,"en:beverages,en:non-sugared-beverages,en:sugar...",181.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,40.0,0.0,0.0
138096,5449000224200,Coca cola cherry zéro sugar,"en:beverages,en:carbonated-drinks,en:sodas,en:...",2.0,0.00,0.0000,0.00,0.0100,0.003937,NaN,0.0,0.0,0.0
138184,54491977,Coca Cola Cherry,"en:beverages,en:sugared-beverages",180.0,0.01,0.0100,10.70,0.0000,0.000000,NaN,12.0,0.0,0.0
138198,54492770,Coca-Cola cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",191.0,0.00,0.0000,11.20,0.0000,0.000000,NaN,12.0,0.0,0.0
138199,54492790,Coca Cola Cherry,"en:beverages,en:carbonated-drinks,en:sodas,en:...",180.0,0.00,0.0000,10.70,0.0000,0.000000,NaN,0.0,0.0,0.0
139253,5740700995774,COCA COLA CHERRY,"en:beverages,en:non-alcoholic-beverages",192.0,0.00,0.0000,11.40,0.0000,0.000000,NaN,50.0,0.0,0.0

In [43]:
for row in df.itertuples():
    if row[2].str.contains('saumon', case=False)[0]:
        print(row[2])

AttributeError: 'str' object has no attribute 'str'

In [10]:

df[isinside]

ValueError: Item wrong length 2 instead of 168468.

In [5]:
dict = {'a':{'first':'', 'second':''}, 'b':{'first':'', 'second':''}}
dict['a']['first'] = 1
dict['a']['second'] = 2
dict['b']['first'] = 3
dict['b']['second'] = 4
import pandas as pd
pd.DataFrame.from_dict(dict)

        a  b
first   1  3
second  2  4

In [26]:
df_patients = pd.DataFrame(
            {'patient_code': [1001111, 1001112, 1001113],
             'consultation_list': [{10120010, 10120011, 10120012, 10120013}, \
             {10120021}, {10120031, 10120032}]},
        )
df_patients.set_index('patient_code', inplace=True)
df_patients.to_csv('df_patients.csv')

In [6]:
data = [{'label1': {'text' : '1234'}}, {'label1': {'text': '5678'}}]
product = {'code': ['1234', '5678']}

data[0]['label1']['text'] == product['code'][0] and data[1]['label1']['text'] == product['code'][1]

True

In [23]:
listTest = [0,1,2]

index = 2
quantity = 999
l = len(listTest)
if index < l:
    listTest[index] = quantity
else:
    temp = [0 for i in range(index-l)]
    listTest = listTest + temp + [quantity]


listTest

[0, 1, 999]

In [22]:
teststring = '     '
len(teststring.strip())

0

In [24]:
dict = {'a':[1,2], 'b':[12,13]}
import pandas as pd
df_test = pd.DataFrame.from_dict(dict)
df_test

   a   b
0  1  12
1  2  13

In [25]:
df2 = pd.DataFrame.from_dict({'index': len(df_test), 'a': ['3'], 'b': ['4']}).set_index('index')
df_test.append(df2)

   a   b
0  1  12
1  2  13
2  3   4